html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

body {
  background: url("./assets/Pastel-background.jpeg") no-repeat center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

p,
h1 {
  margin: 0;
}

.icons {
  font-size: 25px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: white;
  height: 92%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  margin-top: 10px;
  border: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
}

.github-icon {
  margin-right: 5px;
}

.intro-title {
  font-size: 35px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: keep-all;
}

#top-paragraph {
  margin-top: 33px;
}

.underline-name {
  text-decoration: underline;
  text-decoration-color: #fde2e4;
}

.intro-paragraph {
  font-size: 18px;
  color: #6b6b6b;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}

.bold-dev {
  font-weight: bold;
}

footer {
  width: 100%;
}

.copyright {
  /* position: absolute; */
  width: 100%;
  color: black;
  font-size: 12px;
  text-align: center;
  bottom: 0;
}

#about-button {
  background: #dfe7fd;
}
#projects-button {
  background: #f8f1c7;
}

.underline-me {
  text-decoration: underline;
  text-decoration-color: #dfe7fd;
}

.button {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid black;
  font-size: 14px;
  color: black;
  text-decoration: none;
  margin-top: 33px;
  margin-left: 15px;
  width: 100px;
}

.underline-jects {
  text-decoration: underline;
  text-decoration-color: #f8f1c7;
}

#blog-button {
  background: #e2ece9;
}

#home-button {
  background: #fde2e4;
}

.underline-blo {
  text-decoration: underline;
  text-decoration-color: #e2ece9;
}

.main-content {
  margin-top: 130px;
}

.home-bar {
  background-color: #fde2e4;
}

.about-bar {
  background-color: #dfe7fd;
}

.projects-bar {
  background-color: #f8f1c7;
}

.blog-bar {
  background-color: #e2ece9;
}
