.hamburger-menu-button {
  color: rgb(226, 43, 171);
}

.intro-title {
  color: red;
}

body {
  background-image: url("./assets/Pastel-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
