html {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

body {
  background: url("./assets/Pastel-background.jpeg") no-repeat center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

button {
  font-family: "Quicksand", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

p,
h1,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

a:hover {
  color: black;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.3);
}

.icons {
  font-size: 25px;
}

.icons-container {
  z-index: 100;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: white;
  height: 92%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  margin-top: 10px;
  border: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
}

.github-icon {
  margin-right: 5px;
}

.intro-title {
  font-size: 35px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: keep-all;
}

#top-paragraph {
  margin-top: 33px;
}

.underline-name {
  text-decoration: underline;
  text-decoration-color: #fde2e4;
}

.intro-paragraph {
  font-size: 18px;
  color: #6b6b6b;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}

.bold-dev {
  font-weight: bold;
}

footer {
  width: 100%;
}

.copyright {
  /* position: absolute; */
  width: 100%;
  color: black;
  font-size: 12px;
  text-align: center;
  bottom: 0;
}

#about-button {
  background: #dfe7fd;
}
#projects-button {
  background: rgba(248, 241, 199, 0.55);
}

.underline-me {
  text-decoration: underline;
  text-decoration-color: #dfe7fd;
}

.button {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid black;
  font-size: 14px;
  color: black;
  text-decoration: none;
  margin-top: 33px;
  margin-left: 15px;
  width: 100px;
  cursor: pointer;
}

.underline-jects {
  text-decoration: underline;
  text-decoration-color: #f8f1c7;
}

#blog-button {
  background: #e2ece9;
}

#home-button {
  background: #fde2e4;
}

.underline-blo {
  text-decoration: underline;
  text-decoration-color: #e2ece9;
}

.main-content {
  margin-top: 100px;
}

.home-bar {
  background-color: #fde2e4;
}

.about-bar {
  background-color: #dfe7fd;
}

.projects-bar {
  background-color: rgba(248, 241, 199, 0.55);
}

.blog-bar {
  background-color: #e2ece9;
}

.projects-grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin-top: 33px;
}

.project-button {
  margin: 10px 10px;
  width: 107px;
  height: 95px;
  border: 2px solid black;
}

.project-start {
  justify-self: start;
}

.project-end {
  justify-self: end;
}

#project-1-button-colour {
  background-color: #f8f1c7;
}

#project-2-button-colour {
  background-color: #e2ece9;
}

#project-3-button-colour {
  background-color: #dfe7fd;
}

#project-4-button-colour {
  background-color: #fde2e4;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.showMenu {
  transform: translateY(0);
}

.hamburger {
  /* position: fixed; */
  z-index: 100;
  /* top: 1rem;
  right: 1rem;
  padding: 4px; */
  /* border: black solid 1px;
  background: white; */
  cursor: pointer;
}

#home-menu {
  background-color: #fde2e4;
}

#about-menu {
  background-color: #dfe7fd;
}

#projects-menu {
  background-color: rgba(248, 241, 199);
}

#blog-menu {
  background-color: #e2ece9;
}

.nav-list {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 30px;
}
